params {
    spliceai_cpu_docker_container = 'headoncollusion/spliceai:v1.4-cpu'
    spliceai_gpu_docker_container = 'headoncollusion/spliceai:v1.4-gpu'

    mmsplice_cpu_docker_container = 'headoncollusion/mmsplice:v2.2-cpu'
    mmsplice_gpu_docker_container = 'headoncollusion/mmsplice:v2.2-gpu'

    pangolin_cpu_docker_container = 'headoncollusion/pangolin:v1.3-cpu'
    pangolin_gpu_docker_container = 'headoncollusion/pangolin:v1.3-gpu'

    spip_docker_container       = 'headoncollusion/spip:v1.1'
    spliceogen_docker_container = 'headoncollusion/spliceogen:v2.1'

    squirl_docker_container = 'gabyou/squirl:v1.0'

    data_preprocessing_docker_container = 'gabyou/data_prepocessing:v2.0'
    variant_info_docker_container       = 'gabyou/variant_info:v3.2'
    introme_functions_docker_container  = 'headoncollusion/ag_check:v1.6'

    spliceai_db = 'gencode.v44.annotation.txt.gz'
    pangolin_db = 'gencode.v44.annotation.db'

    ml_model_path   = "$projectDir/assets/models/20042026/RandomForest_all_info_introme_train_run_model.pkl"
    ml_columns_path = "$projectDir/assets/models/20042026/RandomForest_all_info_introme_train_run_columns.json"
    ml_test_chroms  = ['chr1', 'chr3', 'chr5', 'chr7', 'chr9']

    assets_dir                 = "$projectDir/assets"

    template_header_vcf        = "$projectDir/assets/introme_annotate.vcf"

    conf_pre_anno_lua          = "$projectDir/assets/conf_pre_anno.lua"
    conf_ensemble_lua          = "$projectDir/assets/conf_ensemble.lua"

    gencode_toml_pattern       = "$projectDir/assets/tomls/gencode.%s.toml"
    annotate_toml_pattern      = "$projectDir/assets/tomls/annotate.%s.toml"
    ensemble_anno_toml         = "$projectDir/assets/tomls/vcfanno_splicing_ensemble.toml"
    
    branchpointer_dir          = "$projectDir/assets/branchpointer"
    regions_dir                = "$projectDir/assets/regions"
    u12_dir                    = "$projectDir/assets/U12"

    // squirls_data_dir           = "$projectDir/assets/squirls"

    ag_script_path             = "$projectDir/../AG_check/AG_check.py"
    ese_script_path            = "$projectDir/../ESE/scoring.py"
    ensemble_score_script_path = "$projectDir/modules/ML/main.py"

    chrRename           = "$projectDir/assets/chrRename.tsv"
    outdir              = "$launchDir/output"
}


docker {
    enabled = true
}


plugins {
  id 'nf-validation@0.2.1'
}


profiles {
    // CPU-only profile (default)
    standard {
        process.executor = 'local'
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }

        // Will run concurrently if you have 23GB to spare :))
        // Else modules will wait until there are sufficient resources.
        params {
            spliceai_docker_container = params.spliceai_cpu_docker_container
            spliceai_cpus = 8
            spliceai_mem = '8 GB'

            pangolin_docker_container = params.pangolin_cpu_docker_container
            pangolin_cpus = 8
            pangolin_mem = '2 GB'

            mmsplice_docker_container = params.mmsplice_cpu_docker_container
            mmsplice_cpus = 8
            mmsplice_mem = '8 GB'

            spip_cpus = 1
            spip_mem = '4 GB'

            spliceogen_cpus = 3
            spliceogen_mem = '1 GB'
        }
    }

    // GPU-enabled profile.
    // Only processes with the 'gpu' label defined in .nf file will get GPU run options.
    gpu {
        process {
            executor = 'local'
            withLabel: 'gpu' {
                containerOptions = '--gpus all'
            }
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        params {
            spliceai_docker_container = params.spliceai_gpu_docker_container
            spliceai_cpus = 1
            spliceai_mem = '8 GB'

            pangolin_docker_container = params.pangolin_gpu_docker_container
            pangolin_cpus = 1
            pangolin_mem = '2 GB'

            mmsplice_docker_container = params.mmsplice_gpu_docker_container
            mmsplice_cpus = 1
            mmsplice_mem = '8 GB'

            spip_cpus = 1
            spip_mem = '4 GB'

            spliceogen_cpus = 3
            spliceogen_mem = '1 GB'
        }
    }
}
