params {
    vcf = "test.vcf"
    ref_genome = "hg38.fa"
    gtf = "gencode.v44.annotation.gtf.gz"
    genome_build = "hg38"
    prefix = "introme_test"
    bed = ""
    quality_filter = true
    allele_frequency = 0.01
    
    chrRename = "$projectDir/assets/chrRename.tsv"
    outdir = "./output"
}


docker {
    enabled = true
}


plugins {
  id 'nf-validation@0.2.1'
}


profiles {
    standard {
        
        process.executor = 'local'
        docker{
            enabled = true
            //sudo = true
        }

    }

}