params {
    vcf = "test.vcf"
    ref_genome = "hg38.fa"
    gtf = "gencode.v44.annotation.gtf.gz"
    genome_build = "hg38"
    prefix = "introme_test"
    bed = ""
    quality_filter = true
    allele_frequency = 0.01
    
    chrRename = "$projectDir/assets/chrRename.tsv"
    outdir = "./output"
}


docker {
    enabled = true
}


plugins {
  id 'nf-validation@0.2.1'
}


profiles {
    // CPU-only profile (default)
    standard {
        process.executor = 'local'
        docker {
            enabled = true
        }
        params {
            spliceai_docker_container = params.spliceai_cpu_docker_container
            spliceai_cpus = 8
        }
    }

    // GPU-enabled profile: Only processes with the 'gpu' label will get GPU run options.
    gpu {
        process.executor = 'local'
        docker {
            enabled = true
        }
        params {
            spliceai_docker_container = params.spliceai_gpu_docker_container
            spliceai_cpus = 1
        }
    }
}

// Global process configuration: apply GPU runOptions only to processes labeled 'gpu'
process {
    withLabel('gpu') {
         docker.runOptions = '--gpus all'
    }
}
